.slider {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
}

.slide.activo {
  display: block;
}
.titulo {
  margin: 40px 0 20px;
  font-size: 26px;
}

.productos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 30%;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  font-weight: bold;
}

/* CONTACTO */
.contacto {
  margin-bottom: 40px;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 30%;
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}